body {
  font-family: 'Poppins', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x:hidden;
}

.app {
  background: #333;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.todo-logo {
  font-size: 11rem;
  color: rgba(232, 232, 232, 0.75);
  font-family: 'Poppins';
  font-weight: 700;
  .logo {
    display: inline-block;
  }
}

.add-btn {
  width: 132px;
  height: 132px;
  border-radius: 132px;
  background-color: rgba(232, 232, 232, 0.15);
  color: rgba(232, 232, 232, 0.35);
  font-family: 'Poppins';
  font-weight: 400;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -64px;
  vertical-align: bottom;
  line-height: 140px;
  transition: all 0.10s ease-in-out;
  margin: 0 8px;
  &:hover {
    color: rgba(232, 232, 232, 1);
    margin: 0 40px;
    cursor: pointer;
  }
}

.todo-list {
  border-radius: 100px;
  text-align: center;
  .big-btn {
    width: 92px;
    height: 92px;
    border-radius: 92px;
    font-size: 4rem;
    background-color: rgba(232, 232, 232, 0.05);
    color: rgba(232, 232, 232, 0.35);
    font-family: 'Poppins';
    font-weight: 400;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    transition: all 0.10s ease-in-out;
    &:hover {
      color: rgba(232, 232, 232, 1);
      background-color: rgba(232, 232, 232, 0.30);
      cursor: pointer;
    }
  }
}

.btn-actions {
  display: inline-flex;
  width: 180px;
  .small-btn {
    width: 48px;
    opacity: 1;
    font-size: 1.5rem;
    line-height: 48px;
    background-color: rgba(232, 232, 232, 0);
    color: rgba(232, 232, 232, 0);
  }
  .small-edit-btn {
    width: 180px;
    opacity: 1;
    font-size: 1rem;
    line-height: 48px;
    font-weight: 700;
    color: rgba(232, 232, 232, 0.85);
    background-color: rgba(224, 157, 0, 1);
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.10s ease-in-out;
    i {
      margin-right: 16px;
    }
    &:hover {
      background-color: rgba(184, 129, 0, 1);
      box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0);
    }
  }
  .small-btn, .small-edit-btn {
    height: 48px;
    border-radius: 48px;
    margin-left: 12px;
    &:hover {
      cursor: pointer;
    }
  }
}

.todo-done {
  background-color: rgba(232, 232, 232, 0.01);
}

.todo {
  background-color: rgba(232, 232, 232, 0.05);
}

.todo, .todo-done {
  color: rgba(232, 232, 232, 0.85);
  width: 600px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 24px;
  border-radius: 50px;
  transition: all 0.10s ease-in-out;
  input {
    animation-name: slideSmall;
    animation-duration: .20s;
    animation-timing-function: ease-in-out;
    background-color: rgba(232, 232, 232, 0);
    width: 320px;
  }
  &:hover {
    .small-btn {
      background-color: rgba(232, 232, 232, 0.05);
      color: rgba(232, 232, 232, 0.85);
      &:hover {
        background-color: rgba(232, 232, 232, 0.30);
        color: rgba(232, 232, 232, 1);
      }
    }
    .small-edit-btn {
      &:hover {
        background-color: rgba(184, 129, 0, 1);
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0);
        color: rgba(232, 232, 232, 1);
      }
    }
  }
}

.input {
  animation-name: slide;
  animation-duration: .20s;
  animation-timing-function: ease-in-out;
  border: none;
  color: rgba(232, 232, 232, 0.85);
  background-color: rgba(232, 232, 232, 0.15);
  font-size: 1.5rem;
  height: 44px;
  width: 520px;
  padding: 24px 40px;
  border-radius: 100px;
  transition: all 0.10s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
    color: white;
  }
  &:disabled {
    background-color: rgba(232, 232, 232, 0);
    &:hover {
      cursor: default;
    }
  }
}

.hint {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgba(232, 232, 232, 0.5);
}

.tracker-container {
  display: flex;
  align-items: center;
  width: 536px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(232, 232, 232, 0.025);
  margin-bottom: 16px;
  padding: 8px 32px;
  .task-counter {
    width: 280px;
    color: rgba(232, 232, 232, 0.50);
  }
  .progress-bar {
    background-color: rgba(232, 232, 232, 0.15);
    width: 100%;
    border-radius: 50px;
    .task-done-bar {
      color: rgba(224, 157, 0, 0);
      border-radius: 50px;
      background-color: rgba(224, 157, 0, 1);
    }
  }
}

.hidden {
  display: none;
}

@keyframes slide {
  0% {
    height: 84px;
    width: 84px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 84px;
  }
  100% {
    height: 44px;
    width: 520px;
    padding: 24px 40px;
    margin: 0;
  }
}

@keyframes slide {
  0% {
    height: 84px;
    width: 84px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 84px;
  }
  100% {
    height: 44px;
    width: 520px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-moz-keyframes slide {
  0% {
    height: 84px;
    width: 84px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 84px;
  }
  100% {
    height: 44px;
    width: 520px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-webkit-keyframes slide {
  0% {
    height: 84px;
    width: 84px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 84px;
  }
  100% {
    height: 44px;
    width: 520px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-o-keyframes slide {
  0% {
    height: 84px;
    width: 84px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 84px;
  }
  100% {
    height: 44px;
    width: 520px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-ms-keyframes slide {
  0% {
    height: 84px;
    width: 84px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 84px;
  }
  100% {
    height: 44px;
    width: 520px;
    padding: 24px 40px;
    margin: 0;
  }
}

@keyframes slideSmall {
  0% {
    height: 44px;
    width: 44px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 44px;
  }
  100% {
    height: 44px;
    width: 320px;
    padding: 24px 40px;
    margin: 0;
  }
}

@keyframes slideSmall {
  0% {
    height: 44px;
    width: 44px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 44px;
  }
  100% {
    height: 44px;
    width: 320px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-moz-keyframes slideSmall {
  0% {
    height: 44px;
    width: 44px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 44px;
  }
  100% {
    height: 44px;
    width: 320px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-webkit-keyframes slideSmall {
  0% {
    height: 44px;
    width: 44px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 44px;
  }
  100% {
    height: 44px;
    width: 320px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-o-keyframes slideSmall {
  0% {
    height: 44px;
    width: 44px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 44px;
  }
  100% {
    height: 44px;
    width: 320px;
    padding: 24px 40px;
    margin: 0;
  }
}

@-ms-keyframes slideSmall {
  0% {
    height: 44px;
    width: 44px;
    padding: 24px 40px;
    margin: 0 40px;
  }
  50% {
    height: 44px;
  }
  100% {
    height: 44px;
    width: 320px;
    padding: 24px 40px;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .todo-logo {
    font-size: 4rem;
    color: rgba(232, 232, 232, 0.75);
  }
  .add-btn {
    font-size: 3.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(232, 232, 232, 0.15);
    color: rgba(232, 232, 232, 0.35);
    position: relative;
    margin: 0 4px;
    top: -23px;
    vertical-align: bottom;
    line-height: 55px;
  }

  .input {
    width: 60vw;
  }

  .todo {
    width: 250px;
    min-width: 250px;
    .small-btn {
      height: 43px;
      width: 43px;
      border-radius: 43px;
      background-color: rgba(232, 232, 232, 0.05);
      outline: none;
      opacity: 1;
      border: none;
      color: rgba(232, 232, 232, 0.50);
      font-size: 1.5rem;
      margin-left: 12px;
    }
  }
}
